.container--main {
  /* background: #ddbeaa; */
  height: 500px;
  position: relative;
  overflow: hidden;
  background-image: url(https://media.istockphoto.com/id/1162187810/de/foto/r%C3%BCcken-sport-massage-therapie.jpg?s=2048x2048&w=is&k=20&c=JERiBEVVHnFjrvmxnPHndMxMXjm6c8VO52CIlS1-yxc=);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
}

.container {
  height: 300px;
  width: 300px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -150px 0 0 -150px;
}

.square {
  height: 94%;
  width: 94%;
  background: white;
  position: absolute;
  top: 50%;
  left: 50%;
  margin: -47% 0 0 -47%;
}

.black {
  background: #285757;
  animation: rotate 50s infinite linear;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
