.container--main {
  display: flex;
  justify-content: center;
  padding: 40px;
  /* background: #fff; */
  /* background: #ddbeaa; */
  background-image: url(https://images.pexels.com/photos/734973/pexels-photo-734973.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1);
  background-repeat: no-repeat;
  background-size: cover;

  background-color: rgba(255, 255, 255, 0.6);
  background-blend-mode: lighten;
  box-sizing: border-box;
}
* {
  box-sizing: inherit;
}

.yin-yang {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  width: 40vmin;
  height: 40vmin;
  background: linear-gradient(#285757 50%, white 0);
  /* border: 6px solid #01fee1; */
  border: 10px solid #469597;
  border-radius: 50%;

  animation-name: spin;
  animation-duration: 4s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: normal;
}

.yin-yang:before,
.yin-yang:after {
  display: block;
  box-sizing: inherit;
  content: '';
  flex: 1;
  height: 20vmin;
  border: solid 5.333333333vmin;
  border-radius: 50%;

  animation-name: size;
  animation-duration: 2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

.yin-yang:before {
  transform-origin: 0% 50%;
  background: #285757;
  border-color: white;
  animation-direction: alternate-reverse;
}
.yin-yang:after {
  transform-origin: 100% 50%;
  background: white;
  border-color: #285757;
}

@keyframes size {
  0% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(359deg);
  }
}
